In [1]:
import numpy as np
import pandas as pd 
import requests
from lxml import html

    


!pip install bs4
from bs4 import BeautifulSoup

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [2]:
# import neighborhood data from source URL
url = "https://www.4icu.org/reviews/index0001.htm"
data = requests.get(url).text 
table = BeautifulSoup(data, 'html5lib')
tables = table.find_all('table')
tables[0].prettify()

'<table class="table table-hover text-left">\n <thead>\n  <tr>\n   <th scope="col">\n    University\n   </th>\n   <th class="text-nowrap" scope="col" style="width:65px">\n    Country\n   </th>\n  </tr>\n </thead>\n <tbody>\n  <tr>\n   <td>\n    <a href="/reviews/12996.htm">\n     3iL École d\'ingénieurs\n    </a>\n   </td>\n   <td class="text-right">\n    fr\n    <img alt="France" class="fl flag-fr" src="/i/bg.gif"/>\n   </td>\n  </tr>\n </tbody>\n</table>\n'

In [3]:
# make empty table
df = pd.DataFrame(columns=["University Name", "Country code"])

# convert html into table data

for row in tables[0].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        univ = col[0].text.lstrip(" ")
        country = col[1].text.rstrip(" ")
        df = df.append({"University Name":univ, "Country code":country}, ignore_index=True)

df

          University Name Country code
0  3iL École d'ingénieurs           fr

In [4]:
url = "https://www.4icu.org/reviews/12996.htm"
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

In [5]:
url = []
for i in range (2,28):
  x = "https://www.4icu.org/reviews/index"+str(i)+".htm"
  url.append(x)
  url
url

['https://www.4icu.org/reviews/index2.htm',
 'https://www.4icu.org/reviews/index3.htm',
 'https://www.4icu.org/reviews/index4.htm',
 'https://www.4icu.org/reviews/index5.htm',
 'https://www.4icu.org/reviews/index6.htm',
 'https://www.4icu.org/reviews/index7.htm',
 'https://www.4icu.org/reviews/index8.htm',
 'https://www.4icu.org/reviews/index9.htm',
 'https://www.4icu.org/reviews/index10.htm',
 'https://www.4icu.org/reviews/index11.htm',
 'https://www.4icu.org/reviews/index12.htm',
 'https://www.4icu.org/reviews/index13.htm',
 'https://www.4icu.org/reviews/index14.htm',
 'https://www.4icu.org/reviews/index15.htm',
 'https://www.4icu.org/reviews/index16.htm',
 'https://www.4icu.org/reviews/index17.htm',
 'https://www.4icu.org/reviews/index18.htm',
 'https://www.4icu.org/reviews/index19.htm',
 'https://www.4icu.org/reviews/index20.htm',
 'https://www.4icu.org/reviews/index21.htm',
 'https://www.4icu.org/reviews/index22.htm',
 'https://www.4icu.org/reviews/index23.htm',
 'https://www.4icu.org/reviews/index24.htm',
 'https://www.4icu.org/reviews/index25.htm',
 'https://www.4icu.org/reviews/index26.htm',
 'https://www.4icu.org/reviews/index27.htm']

In [6]:
for x in url:
  data = requests.get(x).text 
  table = BeautifulSoup(data, 'html5lib')
  tables = table.find_all('table')
  tables[0].prettify()
    
  for row in tables[0].tbody.find_all("tr"):
      col = row.find_all("td")
      if (col != []):
          univ = col[0].text.lstrip(" ")
          country = col[1].text.rstrip(" ")
          df = df.append({"University Name":univ, "Country code":country}, ignore_index=True)

df

                              University Name Country code
0                      3iL École d'ingénieurs           fr
1                       A.T. Still University           us
2                         Aalborg Universitet           dk
3                             Aalto-yliopisto           fi
4                          Aarhus Universitet           dk
...                                       ...          ...
13769  ZNRF University of Management Sciences           bd
13770                Zunyi Medical University           cn
13771                    Zunyi Normal College           cn
13772                  Zürcher Fachhochschule           ch
13773                         Zuyd Hogeschool           nl

[13774 rows x 2 columns]

In [7]:
# import neighborhood data from source URL
url = "https://www.iban.com/country-codes"
data = requests.get(url).text 
table = BeautifulSoup(data, 'html5lib')
tables = table.find_all('table')
tables[0].prettify()

# make empty table
df_cc = pd.DataFrame(columns=["Country code","Country"])

# convert html into table data
for row in tables[0].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        alp2 = col[1].text.lower()
        count = col[0].text
        df_cc = df_cc.append({"Country code":alp2,"Country":count}, ignore_index=True)

df_cc

    Country code            Country
0             af        Afghanistan
1             ax      Åland Islands
2             al            Albania
3             dz            Algeria
4             as     American Samoa
..           ...                ...
244           wf  Wallis and Futuna
245           eh     Western Sahara
246           ye              Yemen
247           zm             Zambia
248           zw           Zimbabwe

[249 rows x 2 columns]

In [8]:
dfnew = df.merge(df_cc, on='Country code', how='left')
dfnew

                              University Name  ...                         Country
0                      3iL École d'ingénieurs  ...                          France
1                       A.T. Still University  ...  United States of America (the)
2                         Aalborg Universitet  ...                         Denmark
3                             Aalto-yliopisto  ...                         Finland
4                          Aarhus Universitet  ...                         Denmark
...                                       ...  ...                             ...
13769  ZNRF University of Management Sciences  ...                      Bangladesh
13770                Zunyi Medical University  ...                           China
13771                    Zunyi Normal College  ...                           China
13772                  Zürcher Fachhochschule  ...                     Switzerland
13773                         Zuyd Hogeschool  ...               Netherlands (the)

[13774 rows x 3 columns]

In [9]:
writer = pd.ExcelWriter('University Worldwide.xlsx')
# write dataframe to excel
dfnew.to_excel(writer)
# save the excel
writer.save()